

h1 {
text-align: center;
margin-top: 100px;
}

p {
text-align: center;
}
.game-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
gap: 15px; /* optional: smaller gap looks compact */
gap: 20px;
margin: 50px;
}
.game-card {
background: rgba(255,255,255,0.5);
padding: 15px;
border-radius: 12px;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
iframe {
  width: 100%;
  height: 80vh; /* 80% of viewport height */
}
.note {
margin-top: 20px;
font-size: 14px;
color: #bbb;
}

.content {
  margin-top: 100px;
  position: relative;
  z-index: 5;
}

.legal-note {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: rgba(255,255,255,0.7);
}
.hidden {
    display: none !important;
}
#mobileWarning {
    color: white;
    text-align: center;
    margin-top: 140px;
    font-size: 18px;
    z-index: 10;
}
